body {
    background: rgb(202, 243, 249);
}

/* Select by TAG type */
p {
    color: plum;
}

/* Select by ID name (unique) */
#kat {
    background: grey;
    border: 5px outset hotpink;
    padding: 12px;
    margin: 30px;
}

/* Select by CLASS name (shared styles) */
.uniform {
    color: hotpink;
}

/* Text formatting properties */
h1 {
    color: orchid;
    font-weight: 200;
    font-style: italic;
    font-size: 50px;
    font-family: Impact;
    text-align:center;
}


