body {
    background: rgb(202, 243, 249);
}

/* Select by TAG type */
p {
    color: plum;
}

/* Select by ID name (unique) */
#kat {
    background: grey;
}

/* Select by CLASS name (shared styles) */
.uniform {
    color: hotpink;
}




h1 {
    color: orchid;
    font-weight: 200;
    font-style: italic;
    font-size: 32px;
    font-family: Impact;
    text-align:center;
}