body {
    background: rgb(202, 243, 249);
}

/* Select by TAG type */
p {
    color: plum;
}

/* Select by ID name (unique) */
#kat {
    background: grey;
    border: 10px dotted hotpink;
    border-radius: 20px;
    padding: 15px;
    margin: 25px;
}

/* Select by CLASS name (shared styles) */
.uniform {
    color: hotpink;
}

/* Text formatting properties */
h1 {
    color: orchid;
    font-weight: 100;
    font-style: italic;
    font-size: 50px;
    font-family: Impact;
    text-align: center;
}


/* "comment-out" code (deactivate) 
* {
    border: 2px solid red;
}
*/


.centered {
    text-align: center;
    margin: auto;
}

img {
    border-width: 15px;
    border-style: double;
    border-color: grey;
}


